ID ICON "/usr/share/vlc/vlc.ico"
1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      //VALUE "CompanyName", "Company name"
      //VALUE "FileDescription", "Application name"
      //VALUE "FileVersion", "1.0"
      //VALUE "InternalName", "my_app"
      //VALUE "LegalCopyright", "Copyright info"
      //VALUE "OriginalFilename", "my_app.exe"
      //VALUE "ProductName", "My App"
      //VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END